.formulario {
    display: inline-block;
    font-family: 'Rubik', sans-serif;

    input {
        margin: 10px;
        display: inline-block;
        font-family: 'Rubik', sans-serif;
    }
}

.mapa {
    margin: 30px;

}

.contacto {
    margin: 0 auto;
    text-align: center;
}